:root {
    /* ====================================================================== */
    /* BORDER SYSTEM                                                          */
    /* ====================================================================== */

    /*
   * Border Radius
   *
   * Controls the roundness of element corners.
   * Consistent border radius values create a cohesive design language.
   */
    --tk-radius-0: var(--tk-size-0); /* No rounding */
    --tk-radius-2xs: 1px; /* Barely visible rounding */
    --tk-radius-xs: 2px; /* Barely visible rounding */
    --tk-radius-sm: 4px; /* Subtle rounding */
    --tk-radius-base: 6px; /*Base radius*/
    --tk-radius-md: 8px; /* Standard rounding */
    --tk-radius-lg: 12px; /* Prominent rounding */
    --tk-radius-xl: 16px; /* Very rounded corners */
    --tk-radius-2xl: 20px; /* Extra rounded corners */
    --tk-radius-3xl: 24px; /* Extra rounded corners */
    --tk-radius-full: 9999px; /* Fully rounded (circles/pills) */

    --tk-border-width-0: 0px;
    --tk-border-width-2xs: 1px;
    --tk-border-width-xs: 2px;
    --tk-border-width-sm: 4px;
    --tk-border-width-md: 8px;
    --tk-border-width-lg: 12px;
    --tk-border-width-xl: 16px;
    --tk-border-width-2xl: 20px;
    --tk-border-width-3xl: 24px;

    /*
   * Border Styles
   *
   * Standard CSS border styles for consistent usage.
   * These variables make it easier to maintain consistent border styles.
   */

    --tk-border-style-none: none;
    --tk-border-style-solid: solid;
    --tk-border-style-dashed: dashed;
    --tk-border-style-dotted: dotted;
    --tk-border-style-double: double;
    --tk-border-style-groove: groove;
    --tk-border-style-ridge: ridge;
    --tk-border-style-inset: inset;
    --tk-border-style-outset: outset;

    /*
   * Outline Properties
   *
   * These variables define outline styles for accessibility and focus states.
   */

    --tk-outline-style-none: none; /* None outline */
    --tk-outline-style-solid: solid; /* Solid outline */
    --tk-outline-style-dashed: dashed; /* Dashed outline */
    --tk-outline-style-dotted: dotted; /* Dotted outline */
    --tk-outline-style-double: double; /* Double outline */

    --tk-outline-width-0: 0px;
    --tk-outline-width-2xs: 1px;
    --tk-outline-width-xs: 2px;
    --tk-outline-width-sm: 4px;
    --tk-outline-width-md: 8px;
    --tk-outline-width-lg: 12px;
    --tk-outline-width-xl: 16px;
    --tk-outline-width-2xl: 20px;
    --tk-outline-width-3xl: 24px;




}
